/****************************************************
CSS VARIABLES
****************************************************/

:root {
	--animation-duration: 0.55s;
	/* BUTTON COLOR CHANGES ON CONTRAST  */
	--button-color: rgba(150, 150, 150, 50);
}


/****************************************************
CSS RESET & GlBAL SETTINGS
****************************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****************************************************
FLEXBOX CONTAINER
****************************************************/

/* FLEX DISPLAY */
.f {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* FLEX FLOW */
.f-flow-1 {
	-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.f-flow-2 {
	-webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

/* JUSTIFY CONTENT */
.f-jc-1 {
	-webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* ALIGN ITEMS */
.f-al-1 {
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


/****************************************************
FLEXBOX ITEMS
****************************************************/

.f-flex-1 {
	-webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.f-flex-2 {
	-webkit-box-flex: 0;
  -ms-flex: 0 2 auto;
  flex: 0 2 auto;
}


/****************************************************
LAYOUT
****************************************************/

/* WIDTH STYLES */
.w-100 { width: 100%; }
.w-33 { width: 33.33333%; }

/* HEIGHT STYLES */
.h-100 { height: 100vh; }

/* FLOAT STYLES */
.f-left { float: left; }
.f-right { float: right; }



/* Full Page Container */
/* These values are what changes via Javascript*/
.container {
  background-color: white;
  color: black;
}

div.shorter-flex-item {
	flex: 1 1 auto;
}

div.longer-flex-item {
	flex: 1 1 auto;
}


/* Horizontal Flex Container */
.h-flex-container {
	width: 100%;
	min-width: 100%;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}




/****************************************************
PADDING
****************************************************/

/* TOP PADDING */
.pt-2 { padding-top: 2rem;}

/* RIGHT PADDING */
.pr-1 { padding-right: 1rem; }

/* BOTTOM PADDING */
.pb-2 { padding-bottom: 2rem; }

/* LEFT PADDING */
.pl-1 { padding-left: 1rem; }






.height-container {
	height: 70px;
	max-height: 70px;
}

/* Container for text logo */
.logo-container {
	width: 40%;
	float: left;
}

/* Container for R,G,B display */
/* Better way of vertically centering? Flexbox? */
#display {
  position: relative;
  z-index: 0;
  width: 100%;
	margin: 0 auto;
	height: 120px;
	max-height: 140px;
}

/* Container for all controls*/
/* Trying out flexbox here */
div#controls {
	width: 100%;
	min-width: 100%;
  /*position: fixed;*/
  bottom: 0;
	padding: 0.5rem 0;
}

/* Generic container For Each Group of controls */
.controls-group {
	padding: 0 1rem;
	float: left;
}

/* Sizing for small control groups */
.small-group {
	width: 25%;
}

/* Sizing for large control groups */
.big-group {
	width: 50%
}

/* Global align text right class */
.align-right {
	text-align: right;
}

/* Container for all links and buttons in control bar */
.link-container {
	padding: 1rem;
	float: left;
	/* background-color: var(--button-color); */
}

.link-container:hover {
	/* opacity: 0.05; */
	/* background-color: var(--button-color); */
	cursor: pointer;
}

.float-right {
	float: right;
}

/* Container For All Sliders */
.sliders-group {
	margin: 0 auto;
	text-align: center; /* Using text align to center all sliders in div. Is this a hack? */
}

/* container for single group of slider and label */
.slider-unit {
	display: inline-block;
	padding: 0 1rem;
	text-align: left; /* resets left align*/
}

/* Styles for Control Bar LInks*/
.unselected-link {
	/* opacity: 0.15; */
}

.selected-link {
	/* opacity: 0.05; */
}

.ctr-txt {
	text-align: center;
}

/******************************
FONT STYLING
******************************/

h1 {
  color: inherit;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875rem;	/* 14px */
	letter-spacing: .05rem;
}

p {

}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover {
	opacity: 0.5;
}

/* global capitlization */
.caps {
	text-transform: uppercase;
}

/* 14pt text*/
.smaller-text {
	font-size: 0.875rem
}


/******************************
ONBOARDING HINTS
******************************/


.onboarding-hints {
	position: relative;
	font-size: 0.875rem;	/* 14px */
	letter-spacing: 0.5px;
	width: 100%;
}

.onboarding-hint {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	text-align: center;
}

.hint-text {
	-webkit-transition: all var(--animation-duration) ease-in-out;
  -moz-transition: all var(--animation-duration) ease-in-out;
  -ms-transition: all var(--animation-duration) ease-in-out;
  -o-transition: all var(--animation-duration) ease-in-out;
  transition: all var(--animation-duration) ease-in-out;
}

/* Spacebar hint */
#spacebar-hint { opacity: 0; }
/* Left Key Hint */
#leftkey-hint { opacity: 0; }
/* Right Key Hint */
#rightkey-hint { opacity: 0; }

.hide {
	visibility: hidden;
}

/* Span class for making text look like a key */
.key-tip {
	border: 2px solid;
	padding: 0.25rem 0.75rem;
	border-radius: 0.5rem;
}

/******************************
MAIN DISPLAY LIST
******************************/

ul {
    padding: 0 1rem;;
}

li {
    width: 20%;
    min-width: 200px;
    display: inline;
    font-size: 6rem;
		font-weight: 400;
    margin: 0 1rem;
    color: inherit;
    /*padding: 0 1rem;*/
}

ul.color-display {
	position: absolute;
	top:0;
	text-align: center;
}

ul#rgb-display { visibility: visible; }
ul#hex-display { visibility: hidden; }
ul#hsl-display { visibility: hidden; }


/******************************
CONTROLS - SLIDERS
******************************/

/* RGB Color Sliders */

input[type=range] {
  vertical-align: middle;
  padding-top: 1rem;
  padding-bottom: 1rem;
	color: inherit;
	background-color: transparent;
	-webkit-appearance: none
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 3px;
	background-color: currentcolor;
	position: relative;
	width: .5rem;
	height: 1.25rem;
	cursor: pointer;
	margin-top: -.5rem
}

/*
input[type=range]::-webkit-slider-thumb:before {
    content: '';
    display: block;
    position: absolute;
    top: -.5rem;
    left: -.875rem;
    width: 2.25rem;
    height: 2.25rem;
    opacity: 0
}*/

input[type=range]::-moz-range-thumb {
    width: .5rem;
    height: 1.25rem;
    cursor: pointer;
		border-radius: 3px;
    border-color: transparent;
    border-width: 0;
    background-color: currentcolor;
}


input[type=range]::-webkit-slider-runnable-track {
    height: .25rem;
    cursor: pointer;
		border-radius: 3px;
    background-color: rgba(0,0,0,.25);
}

input[type=range]::-moz-range-track {
    height: .25rem;
    cursor: pointer;
		border-radius: 3px;
    background-color: rgba(0,0,0,.25)
}

/* Disable the standard blue border focus element */
input[type=range]:focus {
    outline: 0;
}

input[type=range]:focus::-webkit-slider-thumb {
	outline: 0;
	border: 0;
	box-shadow: 0 0 1px 2px currentcolor;
}

input[type=range]:focus::-moz-range-thumb {
	outline: 0;
	border: 0;
	box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}


/******************************
CONTROLS - SEGMENTED SELECTOR
******************************/
