// INTERACTIVE UI ELEMENTS

// ===========================================
// GLOBAL BUTTON STYLE
// ===========================================

// GLOBAL BUTTON STYLES
button {
	// LAYOUT
	height: $btn-height;
  @include padding(0rem, 0.75rem, 0rem, 0.75rem);
  display: inline-block;
  // APPERANCE
  border: none;
	font-family: inherit;
  font-size: $ui-font-size-lg;
  line-height: $ui-line-height;
	color: inherit;
	background-color: var(--button-color-default);
  // BEHAVIOR
  cursor: pointer;
  // TRANSITIONS
  @include transition(all $animate-time-fast linear);
}

// GLOABL FOCUS STYLE
button:focus {
	outline: thin dotted;
	background-color: var(--button-color-hover);
}

// GLOBAL HOVER STYLE
button:hover {
	background-color: var(--button-color-hover);
}

// GLOBAL ACTIVE STYLE
button:active {
	outline: thin dotted;
	background-color: var(--button-color-active);
	// transform: scale(1);
}

button > * {
  pointer-events: none;
}

// ===========================================
// TOGGLE GROUP
// ===========================================

// TOGGLE BUTTONS BEHAVIOR
div.toggle-group {
	// FLEX CONTAINER STYLES
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
}


// TOGGLE BUTTON MODIFICATION
button.toggle {
  // FLEX ITEM STYLES
  @include flex(1);
}


// ACTIVE CLASS FOR THE SELECTED BUTTON
.btn-selected {
	background-color: var(--button-color-hover);
}




// ===========================================
// SLIDERS
// ===========================================

// RANGE SLIDER
input[type=range] {
	@include track-width(100%, 4rem, 8.125rem);
	@include thumb-size();
	@include input-type-range;

	@include media-query($bp-57) {
		@include track-width(100%, 4rem, 6rem);
	}

	@include media-query($bp-48) {
		@include track-width(100%, 100%, 100%);
		@include thumb-size();
	}
}

// RGB SLIDER VALUE READOUT
.display-readout {
  margin-left: $spacing-unit / 2;
}

// ===========================================
// SETTINGS BUTTONS
// ===========================================

// SETTINGS BUTTON ON MOBILE
button.settings-toggle {
  width: 100%;
}

.settings-icon {
	// APPEARANCE
	width: 16px;
	margin: 0 $spacing-unit $spacing-unit/4 $spacing-unit;
}

.settings-icon-rotated {
	transform: rotate(180deg);
}

// MOBILE SETTINGS BUTTON
#settings-toggle {
	// LAYOT
  @include full-width;
}

// ===========================================
// COPY CSS BUTTON
// ===========================================

// COPY CSS BTN
#copy-css-btn {
	// LAYOUT
	min-width: 100px;
}

// ===========================================
// CLOSE BUTTON
// ===========================================

button.close-btn {
  // LAYOUT
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  height: 2.25rem;
  width: 2.25rem;
  // APPEARANCE
  @include border-radius(50%);
  @include box-shadow;
  // ICON
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/close.svg);
  background-size: 50%;

  // RESPONSIVE
  // SMALLEST SCREENS
  @include media-query($bp-48) {
    top: 0.5rem;
    right: 0.5rem;
    @include border-radius(0);
  }

}

svg path {
	stroke: currentColor;
}
