// TYPOGRAPHY
// ALL BASE TYPE SETTINGS


// ===========================================
// HEADERS
// ===========================================

// SITE TITLE
h1 {
  font-family: $gotham-book;
  font-size: $fs-14;
  line-height: 1.25rem;
  letter-spacing: $wide-letter-spacing;
  text-transform: uppercase;
  color: inherit;

  // @include media-query($on-palm) {
  //   font-size: $fs-4;
  // }
}

// COLOR DISPLAY
h2 {
  font-family: $gotham-bold;
  font-size: $fs-112;
  line-height: $display-line-height;
  color: inherit;
  // DECREASE TEXT SIZE
  @include media-query($bp-64) {
    font-size: 11vw;
  }
  @include media-query($bp-48) {
    font-size: 10vw;
  }
  // @include media-query($bp-57) {
  //   font-size: $fs-72;
  // }
  // @include media-query($bp-34) {
  //   font-size: $fs-48;
  // }
}


// ===========================================
// BODY COPY
// ===========================================

// 16/24 Paragraphy Copy
p {
  font-size: $fs-14;
  line-height: 1.25rem;;
}

// 14/20 FOR LABELS AND BUTTON TEXT
.small {
  font-size: $small-font;
}
